{% extends 'layout.html' %}
{% block title %}
Add Location
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col s12 m10 l8 offset-m1 offset-l2">
            <form method="post" action="/location/new/" onsubmit="return invent.location.submit()">
                <div class="row card p-25 rounded   ">
                    <div class="input-field col s12">
                        <h4 class="center-align">
                            Add Location
                        </h4>
                    </div>
                    <div class="input-field col s12">
                        <input id="location_name" type="text" name="location_name">
                        <label for="location_name">Location Name</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="location_description" class="materialize-textarea"
                                  name="location_description"></textarea>
                        <label for="location_description">Location Description</label>
                    </div>
                    <div class="input-field col s12">
                        <button type="submit" class="btn right indigo">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    $("#location").addClass("active");
    $("#location_add").addClass("light-blue lighten-4");
{% endblock %}