{% extends 'user/layout.html' %}
{% block title %}
    Login
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col s12 m8 l6 offset-m2 offset-l3" style="margin-top: 120px;">
            <form method="post" action="{{ url_for('login') }}" onsubmit="return true">
                <div class="row card p-25 rounded   ">
                    <div class="input-field col s12">
                        <h4 class="center-align">
                            {{ config['SITE']['name'] }} | Login
                        </h4>
                    </div>
                    <div class="input-field col s12">
                        <input id="username" type="text" name="username" required>
                        <label for="username">User Name</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="password" type="password" name="password" required>
                        <label for="password">Password</label>
                    </div>
                    <div class="input-field col s12">
                        <button type="submit" class="btn right indigo">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
{% endblock %}